<% provide :title, 'Local Movies' %>

<div class="container">
  <div class="my-5 d-flex align-items-center">
    <h1 class="mr-3">Local movies</h1>

    <%= link_to 'New', new_movie_path, class: 'badge bg-info text-decoration-none' %>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-borderless">
      <thead>
        <tr class="table-info">
          <th></th>
          <th>Title</th>
          <th>Release Date</th>
          <th>Description</th>
          <th>Score</th>
        </tr>
      </thead>

      <tbody>
        <% @movies.each do |m| %>
          <%= render m %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center">
    <%= will_paginate %>
  </div>
</div>
