<footer class="bg-primary text-white page-footer">
  <div class="container">
    <div class="row py-5">
      <div class="col">
        <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" width="130">
        <button class="btn btn-light font-weight-bold text-info text-uppercase mt-3">
          Join the community
        </button>
      </div>

      <% @footer_sections.each do |section| %>
        <div class="col">
          <h5 class="text-uppercase font-weight-bold">
            <%= section[:title] %>
          </h5>

          <% section[:items].each do |item| %>
            <a href="#" class="text-decoration-none text-light">
              <%= item %>
            </a>
            <br>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</footer>
